ul {
    margin-left: -6px;
    height: 57px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e4a112;
  }
  
  li {
    margin-right:20px;
    float: left;
  }
  
  li a {
      font-weight: bold;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(10, 219, 3);
    text-decoration:none;
    border-bottom:5px solid rgb(10, 219, 3);;  
  }