.username{
    width: 70%;
    margin-top: 5%;
    margin-left: 5%;
    border-bottom: black solid 1px;
}
.username h2{
    font-size: 35px;
}
.username h6{
    font-size: 20px;
    margin-bottom: 15px;
}
.kullaniciicerik li{
display: inline-block;
margin-right: 10%;
margin-bottom: 15px;
}
.kullaniciicerik li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    }
.kullaniciicerik{
    width: 70%;
    margin-top: 1%;
    margin-left: 5%;
    border-bottom: black solid 1px;
}
.infotitle{
    margin-left: 5%;
    font-size: 30px;
}
#profilekonu{
    margin-left: 5%;
}
.konumenu{
    margin-left: 12%;
}

